/*@import url("./assets/font/iranyekan/Farsi_numerals/WebFonts/css/fontiran.css");*/
@import url("./assets/font/Anjoman_Pro/02 - Anjoman Farsi Numerals/fontiran.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  font-family: Anjoman, serif !important;
  text-align: right;
}